body {
  background-color: #bdc3c7;
}

.container {
  margin: 0 auto 0;

  width: 375px;
  height: 100vh;
  border-radius: 10px;

  background-color: #fff;
}

@media all and (max-width: 750px) {
  .container {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
  }
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  padding: 10px 0;
}

.big-text {
  font-size: 20px;
  font-weight: 600;
}

.checkerboard {
  background-color: #4b4b4b;
  width: 375px;
  /* 视口高度 减 title 高度 */
  height: calc(100vh - 50px);
}

.row {
  display: flex;
  flex-flow: row nowrap;
  height: 20%;
}

@media all and (max-width: 750px) {
  .checkerboard {
    width: 100%;
  }
}

.block {
  width: 25%;
  border: 1px solid #000;
  box-sizing: content-box;
}
.white-block {
  background-color: #fff;
}

.black-block {
  background-color: #333;
}
